connection: &connection
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username: tweeter_zoombie
  password: secret

development:
  <<: *connection
  database: tweeter_zoombie_development

test: &test
  <<: *connection
  database: tweeter_zoombie_test
