<p id="notice"><%= notice %></p>

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Rotting</th>
      <th>Brain flavor</th>
      <th>Tweets</th>
      <th>Em@il</th>
      <th>Decomp</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <div id="zombies">
      <%= render @zombies %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path %>
